body{
    background-color: black;
}
#titulo{
    color: white;
    text-align: center;
    height: 5%;
}
#Div1{
    text-align: center;
    font-size: 200%;
}
#boton1{
    color:bisque;

}
#Div3{
    text-align: center;

}

#demo{
    text-align: center;
}